body{
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@media (max-width: 1366px) {
    .columnas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        padding: 30px;
        margin: 50px;
    }
}

@media (max-width: 778px) {
    .columnas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px;
        padding: 30px;
        margin: 50px;
    }
}

@media (max-width: 480px) {
    .columnas{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        padding: 30px;
        margin: 50px;
    }
}

.cuadro_columnas{
    border: solid rgb(8, 8, 92) 5px;
    background-color: rgb(145, 145, 226);
}

.titulo{
    color: black;
    font-size: large;
}

.texto{
    color: black;
}

.contenedor {
            border: solid rgb(8, 8, 92) 5px;
            background-color: rgb(145, 145, 226);
            width: 80%;
            padding: 20px;
            margin: 0 auto;

        }









.perfil{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}


.perfil_img{
    width: 40%;
}

.perfil_img img{
    object-fit: cover;
    width: 100%;
    border-radius: 20%;
    border: white solid;
}

.perfil_contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil_contenido h1{
    text-transform: uppercase;
    font-size: 34px;
}

.perfil_contenido span{
    font-size: 24px;
}

.perfil_contenido .boton_contacto{
    display: flex;
    justify-content: center;
    width: 60%;

}

@media (max-width: 480px){

    .perfil_contenido .boton_contacto{
        display: flex;
        justify-content: center;
        width: 60%;

    }
    

    btnMenu {
        display: block;
    }

    btnMenu{
        color: white;
        background-color: transparent;
        margin: 10px 0 0 10px;
        border: none;
    }

    btnMenu svg{
        width: 25px;
        height: 25px;
    }

    navbar_toggler {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

   
    .perfil{
        flex-direction: column;
        width: 95%;

    }

    .perfil_img{
        width: 50%;
        margin: 0 auto;
    }

    .perfil_contenido{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .perfil_contenido h1{
        font-size: 28px;
    }

    .perfil_contenido span{
        font-size: 18px;
    }

    .perfil_contenido h2{
        font-size: 20px;
    }

    .perfil_contenido .boton_contacto{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

contenedor_acerca{
    width: 80px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 1.8;
    font-size: 20px;
}


contenedor_acerca section{
    width: 90%;
    margin: 0 auto;
    border: white 2px;
    margin-top: 20px;
    text-align: justify;
}

a{
    color: white;
    text-transform: capitalize;

    &:hover{
        color: white;
        transform: scale(1.2);
        transition-duration: 0.5s;

    }
}


body {
    background-image: url('/static/img/img1.webp');
    background-color: rgba(0, 0, 0, 0.3); 
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}



.carta1{
    background-color: rgba(149, 149, 149, 0.231);
    border: solid 1px black;
    padding: 30px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    
}

.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;

}





    /* Usar flexbox para empujar el footer al fondo */
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }


    /* Footer siempre al fondo */
    footer {
      flex-shrink: 0;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      margin-top: auto;
    }