{% extends 'layout.html'%}

{%block body%}



    <div class="perfil">
        <div class="perfil_img">
            <img src="/static/img/granjero.png" alt="granjero">
        </div>
        <div class="perfil_contenido">
            <h1 class="titulo">SERGIO PLATA <br><span> APRENDIZ SENA </span></h1>
            <p>

            </p>
            <div class="boton_contacto">
                <a href="https://api.whatsapp.com/send?phone=573156879412&amp;text=" DESDE MI PORTAFOLIO TE ESCRIBO
                    target="_blank"></a>
                <button> CONTACTAR </button>
                </a>
            </div>

        </div>
    </div>
    <main class="contenedor_acerca">
        <section>
            <h2 class="titulo"> Perfil Profesional</h2>
            <p class="texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolore quibusdam fugit voluptatum,
                provident nam tempora quae quisquam facilis aperiam deserunt quasi suscipit eligendi temporibus,
                quod quam soluta aspernatur enim?
            </p>
            <section>
                <h2 class="titulo"> Experiencia laboral </h2>
                <p class="texto">
                    MESERO RESTAURANTE KEROA
                    AYUDANTE TIENDA GANADERA EL TORETE
                </p>

                <h2 class="titulo"> Experiencia estudiantil</h2>
                <p class="texto">
                    EDUCACION BASICA PRIMARIA
                    EDUCACION SECUNDARIA BACHILLER
                    APRENDIZ DEL SENA
                </p>
            </section>
        </section>
    </main>



    <div class="contenedor">
        <h1 class="titulo">BIOGRAFIA</h1>
        <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, tempora labore quam non praesentium, maiores
            molestiae soluta distinctio, explicabo possimus incidunt consequuntur optio nostrum illo. Dolorem esse
            quaerat explicabo cupiditate.</p>
    </div>


{%endblock%}