{% extends 'layout.html'%}

{%block body%}


    <div class="perfil">
        <div class="perfil_img">
            <img src="/static/img/img7.jpeg" alt="granjero">
        </div>
        <div class="perfil_contenido">
            <h1 class="titulo">SERGIO PLATA <br><span> APRENDIZ SENA </span></h1>
            <p>

            </p>
            <div class="boton_contacto">
            <a href="https://api.whatsapp.com/send?phone=573156879412&amp;text="DESDE MI PORTAFOLIO TE ESCRIBO" target="_blank">
                <button class="boton_contactar"> CONTACTAR </button>
            </a>
            </div>

        </div>
    </div>
    <main class="contenedor_acerca">
        <section>
            <h2 class="text-white"> Perfil Profesional</h2>
            <p class="text-white">
                APRENDIZ DEL SENA CON 2 AÑOS DE ESTUDIO CON APRENDIZAJE EN BBDD (MYSQL LINECLIENT, WORKBENCH) PYTHON, JAVASCRIPT ESPECIALIZADO EN CALENTAR LA SILLA. CON CAPACIDAD DE LIDERAR PROYECTOS Y TRABAJAR EN EQUIPO PARA CUMPLIR OBJETIVOS
            </p>
            <section>
                <h2 class="text-white"> Experiencia laboral </h2>
                <p class="text-white">
                    MESERO RESTAURANTE KEROA
                    AYUDANTE TIENDA GANADERA EL TORETE
                </p>

                <h2 class="text-white"> Experiencia estudiantil</h2>
                <p class="text-white">
                    EDUCACION BASICA PRIMARIA
                    EDUCACION SECUNDARIA BACHILLER
                    APRENDIZ DEL SENA
                </p>
            </section>
        </section>
    </main>



    <div class="contenedor">
        <h1 class="titulo">BIOGRAFIA</h1>
        <p class="texto"> SERGIO ES UN APRENDIZ DEL SENA DEDICADO A LA PROGRAMACION DE SOFTWARE Y A IMPULSAR EL MUNICIPIO CON SUS IDEAS MILLONARIAS, INFLUENCIADO E INSPIRADO POR EZEQUIEL ROJAS PLANTEA SER EL MEJOR PROGRAMADOR DEL MUNDO MUNDIAL PARA RENDIRLE HONOR A SU INSTRUCTOR QUE LO DEFINIO PARA TODA LA VIDA.


{%endblock%}