{% extends 'layout.html'%}

{%block body%}

<h2 class="titulo"> Mis habilidades</h2>

<div class="columnas">

                <div class="cuadro_columnas">
                    <h3 class="titulo">html</h3>
                    <p class="texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi porro possimus adipisci distinctio veniam unde dicta fuga perspiciatis dignissimos magnam in ad eaque eius, omnis cum voluptates. Eum, quia iusto?</p>
                </div>
                <div class="cuadro_columnas">
                    <h3 class="titulo">css</h3>
                    <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, nesciunt. Quas facere laudantium suscipit neque laborum temporibus odio, quasi saepe minus necessitatibus laboriosam magni optio labore aspernatur error veniam amet!</p>
                </div>
                <div class="cuadro_columnas">
                    <h3 class="titulo">python</h3>
                    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dignissimos officia praesentium quibusdam. Eaque voluptates a doloremque nihil nam nesciunt, maiores illum, aliquam vero quas minus molestiae veritatis, quo omnis.</p>
                </div>
                
</div>



{%endblock%}